<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ClosingReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.ClosingReport">
        <id column="closing_report_id" property="closingReportId" />
        <result column="s_id" property="sId" />
        <result column="c_id" property="cId" />
        <result column="problem_type" property="problemType" />
        <result column="consult_num" property="consultNum" />
        <result column="consult_effect_self" property="consultEffectSelf" />
    </resultMap>

    <!--VO查询映射结果-->
    <resultMap id="VOResultMap" type="com.example.mybatisplus.model.vo.ClosingReportVO">
        <!--原有字段-->
        <id column="closing_report_id" property="closingReportId" />
        <result column="s_id" property="sId" />
        <result column="c_id" property="cId" />
        <result column="problem_type" property="problemType" />
        <result column="consult_num" property="consultNum" />
        <result column="consult_effect_self" property="consultEffectSelf" />

        <!--VO字段-->
        <result column="stu_name" property="stuName" />
        <result column="consultant_name" property="consultantName" />
    </resultMap>

    <!--咨询师获取自己和某个学生的结案报告-->
    <select id="getClosingReportByConAndStu" resultMap="VOResultMap">
        select cr.*,stu.name stu_name,p.name consultant_name
        from closing_report cr, person p,student stu
        where cr.s_id = stu.s_id
          and cr.c_id = p.p_id
          and stu.name = #{stu_name}
          and p.p_id = #{c_id}
    </select>

    <!--咨询师获取自己所有的结案报告-->
    <select id="getClosingReportByCon" resultMap="VOResultMap">
        select cr.*,stu.name stu_name,p.name consultant_name
        from closing_report cr, person p,student stu
        where cr.s_id = stu.s_id
          and cr.c_id = p.p_id
          and p.p_id = #{c_id}
    </select>

    <!--中心管理员获得所有结案报告-->
    <select id="getAllClosingReport" resultMap="VOResultMap">
        select cr.*,stu.name stu_name,p.name consultant_name
        from closing_report cr, person p,student stu
        where cr.s_id = stu.s_id
          and cr.c_id = p.p_id
    </select>

</mapper>
