<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ConsultAppointmentRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.ConsultAppointmentRecord">
        <id column="consult_appoint_id" property="consultAppointId" />
        <result column="s_id" property="sId" />
        <result column="tp_id" property="tpId" />
        <result column="location_id" property="locationId" />
        <result column="c_id" property="cId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="date" property="date" />
        <result column="is_finished" property="isFinished" />
    </resultMap>


    <resultMap id="VOResultMap" type="com.example.mybatisplus.model.vo.ConsultAppointmentRecordVO">
        <!--原有列-->
        <id column="consult_appoint_id" property="consultAppointId" />
        <result column="s_id" property="sId" />
        <result column="tp_id" property="tpId" />
        <result column="location_id" property="locationId" />
        <result column="c_id" property="cId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="date" property="date" />
        <result column="is_finished" property="isFinished" />

        <!--VO特有列-->
        <result column="name" property="consultantName"/>
        <result column="start_time" property="startTime"/>
        <result column="duration" property="duration"/>
        <result column="location_name" property="locationName"/>
        <association property="consultApply" javaType="com.example.mybatisplus.model.domain.ConsultApply">
            <id column="consult_apply_id" property="consultApplyId" />
            <result column="s_id" property="sId" />
            <result column="stu_name" property="stuName" />
            <result column="phone" property="phone" />
            <result column="address" property="address" />
            <result column="emergency_phone" property="emergencyPhone" />
            <result column="danger_level" property="dangerLevel" />
            <result column="problem_type" property="problemType" />
            <result column="tp_id1" property="tpId1" />
            <result column="tp_id2" property="tpId2" />
            <result column="tp_id3" property="tpId3" />
            <result column="num" property="num" />
            <result column="is_finished" property="isFinished" />
        </association>
    </resultMap>


    <!--根据咨询师id查询报告-->
    <select id="getRecordsByConsultant" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where car.c_id=#{c_id}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
              and car.is_deleted = 0
    </select>


    <!--获得咨询师未填报的预约-->
    <!--即今天及之前的预约，但是is_finished字段为0-->
    <select id="getRecordNotFilledIn" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where car.c_id=#{id}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.date &lt;= #{date}
          and car.is_finished = 0
          and car.is_deleted = 0
    </select>

    <!--通过咨询师获得所有未完成的预约-->
    <select id="getUnfinishedRecords" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where car.c_id=#{id}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_finished = 0
          and car.is_deleted = 0
    </select>

    <!--根据咨询师和学生ID获取咨询记录-->
    <select id="getRecordByConsultantAndStudentID" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where car.c_id=#{c_id}
          and car.s_id=#{s_id}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
    </select>

    <!--根据咨询师和学生姓名获取咨询记录-->
    <select id="getRecordByConsultantAndStudent" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where car.c_id=#{c_id}
          and ca.stu_name=#{stu_name}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
    </select>

    <!--根据学生id查询-->
    <select id="getRecordByStu" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where ca.s_id=#{sId}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
    </select>

    <!--心理助理获取所有预约-->
    <select id="showAllRecords" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
    </select>

    <!--心理助理根据咨询师姓名查看咨询预约-->
    <select id="showRecordsByConName" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where p.name = #{ConName}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
    </select>

    <!--心理助理根据学生姓名查看咨询预约-->
    <select id="showRecordsByStuName" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where ca.stu_name = #{StuName}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
    </select>

    <!--心理助理获取所有未完成的预约-->
    <select id="showUnfinishedRecords" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
          and car.is_finished = 0
    </select>

    <!--心理助理根据咨询师姓名查看未完成的咨询预约-->
    <select id="showUnfinishedRecordsByConName" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where p.name = #{ConName}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
          and car.is_finished = 0
    </select>

    <!--心理助理根据学生姓名查看未完成的咨询预约-->
    <select id="showUnfinishedRecordsByStuName" resultMap="VOResultMap">
        select car.*,p.name,tp.start_time,tp.duration,l.location_name,ca.*
        from consult_appointment_record car,person p,time_period tp
           ,location l,consult_apply ca
        where ca.stu_name = #{StuName}
          and car.c_id=p.p_id
          and car.tp_id=tp.tp_id
          and car.location_id=l.location_id
          and car.s_id=ca.s_id
          and car.is_deleted = 0
          and car.is_finished = 0
    </select>
</mapper>
