<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.FirstVisitReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.FirstVisitReport">
        <id column="fvreport_id" property="fvreportId" />
        <result column="fvr_id" property="fvrId" />
        <result column="s_id" property="sId" />
        <result column="tp_id" property="tpId" />
        <result column="fv_id" property="fvId" />
        <result column="danger_level" property="dangerLevel" />
        <result column="problem_type" property="problemType" />
        <result column="conclusion" property="conclusion" />
        <result column="date" property="date" />
    </resultMap>


    <resultMap id="VOResultMap" type="com.example.mybatisplus.model.vo.FirstVisitReportVO">
        <id column="fvreport_id" property="fvreportId" />
        <result column="fvr_id" property="fvrId" />
        <result column="s_id" property="sId" />
        <result column="tp_id" property="tpId" />
        <result column="fv_id" property="fvId" />
        <result column="danger_level" property="dangerLevel" />
        <result column="problem_type" property="problemType" />
        <result column="conclusion" property="conclusion" />
        <result column="date" property="date" />
        <result column="name" property="stuname"/>
        <result column="start_time" property="startTime"/>
        <result column="duration" property="duration"/>
        <result column="fvname" property="fvName"/>
    </resultMap>

    <!-- 搜索该初访员所有初访报告 -->
    <select id="showAllFVReports" resultMap="VOResultMap">
        select fvr.*,s.name,tp.start_time,tp.duration,p.name fvname
            from first_visit_report fvr,student s,time_period tp,person p
            where fvr.fv_id = #{id} and fvr.s_id = s.s_id and tp.tp_id = fvr.tp_id and p_id = #{id};
    </select>

    <!-- 初访员根据学生姓名搜索初访报告 -->
    <select id="getFVReportsByName" resultMap="VOResultMap">
        select fvr.*,s.name,tp.start_time,tp.duration,p.name fvname
            from first_visit_report fvr,student s,time_period tp,person p
            where fvr.fv_id = #{id}  and fvr.s_id = s.s_id and s.name = #{stuName} and tp.tp_id = fvr.tp_id and p_id = #{id};
    </select>

    <!-- 学生查看自己的初访报告 -->
    <select id="getFVReport" resultMap="VOResultMap">
        select fvr.*,s.name,tp.start_time,tp.duration,p.name fvname
            from first_visit_report fvr,student s,time_period tp,person p
            where fvr.s_id = #{id} and fvr.s_id = s.s_id and tp.tp_id = fvr.tp_id and p_id = fvr.fv_id;
    </select>

    <!-- 初访员根据初访预约记录搜索初访报告 -->
    <select id="getFVReportByFvrId" resultMap="VOResultMap">
        select fvr.*,s.name,tp.start_time,tp.duration,p.name fvname
            from first_visit_report fvr,student s,time_period tp,person p
            where fvr.fvr_id = #{fvrId} and fvr.s_id = s.s_id and tp.tp_id = fvr.tp_id and p_id = fvr.fv_id;
    </select>
</mapper>
