<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.PersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Person">
        <id column="p_id" property="pId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="gender" property="gender" />
        <result column="job" property="job" />
        <result column="age" property="age" />
        <result column="info" property="info" />
        <result column="address" property="address" />
        <result column="email" property="email" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <select id="login" resultMap="BaseResultMap">
        select * from person where p_id in (select p_id from person_type where type = #{type}) and username = #{username} and is_deleted = 0
    </select>

    <!--插入新Person，并且返回id-->
    <insert id="insertPerson" parameterType="com.example.mybatisplus.model.domain.Person" useGeneratedKeys="true" keyProperty="pId">
        insert into person(username, password, name, phone, gender, job, age, info, address, email)
            values(#{username},#{password},#{name},#{phone},#{gender},#{job},#{age},#{info},#{address},#{email})
    </insert>

    <!--查找所有type人员-->
    <!--e.g. type=”初访员“ 则返回所有初访员Person信息-->
    <select id="getPersonByType" resultMap="BaseResultMap">
        select person.*
        from person,person_type
        where person.p_id = person_type.p_id
          and person_type.type = #{type}
    </select>

</mapper>
